@import '../photon-colors.scss';

.Quarter ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 -10px;
  min-height: 10vh;
  padding: 0;
}

.quarter {
  background-image: url('../images/felt.png');
  border-radius: 5%;
  color: #fff;
  margin: 0.5rem;
  min-width: calc(25% - 1rem);
  padding: 0 0 calc(25% - 1rem) 0;
  position: relative;

  a {
    align-items: center;
    border-radius: 5%;
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    @media (min-width: 900px) {
      font-size: 5rem;
      font-weight: lighter;
    }

    &:hover,
    &:focus {
      border: 1px solid #4d90fe;
      box-shadow: 0 0 10px #4d90fe;
      color: #fff !important;
      outline: none;
    }

    &:visited,
    &:hover,
    &:active {
      color: #fff;
      text-decoration: none;
    }
  }
}

.Q1 {
  background-color: $blue-60;
}

.Q2 {
  background-color: $red-60;
}

.Q3 {
  background-color: $green-70;
}

.Q4 {
  background-color: $purple-60;
}

.active-date {
  border: 5px dashed rgba(255, 255, 255, 0.5) !important;
}
