{
  "extends": "amo",
  "env": {
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "globals": {
    "fetch": true
  },
  "rules": {
    // These rules are not compatible with Prettier.
    "implicit-arrow-linebreak": "off",
    "indent": "off",
    "no-mixed-operators": "off",
    "operator-linebreak": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-no-undef": ["on", { "allowGlobals": true }]
    // Modify rules.
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "operator-assignment": "off",
    "no-param-reassign": "off",
    "no-nested-ternary": "off",
    // This can be off as Next imports React.
    "react/react-in-jsx-scope": "off",
  }
}
