body {
  min-width: 400px;
}

@media (min-width: 1200px) {
  main.container {
    max-width: 1360px;
  }
}

nav[aria-label='breadcrumb'] {
  margin-bottom: 10px;
  min-width: auto;
}

.navbar.d-flex {
  display: block !important;
}

@media (min-width: 900px) {
  nav[aria-label='breadcrumb'] {
    margin-bottom: 0;
    min-width: auto;
  }

  .navbar.d-flex {
    display: flex !important;
  }
}

.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.card-wrapper,
.card {
  width: 100%;
}

.card-header {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

h2.card-header {
  color: #333;
}

.card-header svg {
  margin-bottom: 4px;
  margin-right: 8px;
}

.navbar h1,
.navbar h2 {
  font-size: 18px;
  margin-bottom: 0;
}

.card .progress {
  width: 100%;
}

.card .progress,
.card .progressbar {
  border-radius: 0;
  height: 8px;
}

.updated {
  color: #666;
  font-size: 14px;
  line-height: 2;
}

.eng-image {
  border: 2px solid #ccc;
  box-sizing: content-box;
  margin-left: 5px;
}

.sidebar {
  bottom: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  left: 0;
  padding: 25px 0 0 0; /* Height of navbar */
  position: sticky;
  top: 25px;
  z-index: -1; /* Behind the navbar */
}

.sidebar-sticky {
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding-top: 0.5rem;
  top: 0;
}

.sidebar .nav-link {
  color: #333;
  font-weight: 500;
}

.sidebar .nav-link .feather {
  color: #999;
  margin-right: 4px;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

nav .breadcrumb {
  margin-bottom: 0;
}

.navbar-brand svg {
  margin-bottom: 4px;
}

.project-type {
  color: #666;
  font-size: 22px;
  margin: 20px 0 15px 15px;
}

th a {
  &:link,
  &:visited,
  &:focus,
  &:active {
    color: #000;
  }

  &:hover {
    text-decoration: none;
  }

  &.sort-direction {
    overflow: hidden;
    white-space: nowrap;

    &::after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: '';
      display: inline-block;
      margin: 0 0 2px 5px;
    }

    &.asc::after {
      border-bottom: 5px solid black;
    }

    &.desc::after {
      border-top: 5px solid black;
    }
  }
}

.p1,
.p2,
.p3,
.p4,
.p5,
.unprioritized {
  background: #666;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 5px 5px 3px;
}

.p1 {
  background: #ff0039;
}

.p2 {
  background: #d70022;
}

.p3 {
  background: #a4000f;
}

.p4 {
  background: #5a0002;
}

.p5 {
  background: #3e0200;
}


.no,
.yes {
  background: green;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 5px 5px 3px;
}

.no {
  background: orange;
}

table {
  border: 0;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 100%;
  width: 100%;
}

td.centered {
  text-align: center;
}
