.Contrib {
  .contributor,
  .mentor {
    background: green;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 5px 5px 3px;

    &.not-assigned {
      background: orange;
    }
  }

  .not-found {
    background: url('images/blue-berror.svg') no-repeat 50% 50%;
    min-height: 450px;
    padding-top: 10px;
    text-align: center;
  }

  .last-updated {
    min-width: 9em;
  }
}
