table {
  border: 0;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 100%;
  width: 100%;
}

td.centered {
  text-align: center;
}

.contributor,
.mentor {
  background: green;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 5px 5px 3px;

  &.not-assigned {
    background: orange;
  }
}

.not-found {
  background: url('images/blue-berror.svg') no-repeat 50% 50%;
  min-height: 450px;
  padding-top: 10px;
  text-align: center;
}

.last-updated {
  min-width: 9em;
}
