.dash {
  background: #1e2430 !important;

  .loading {
    text-align: center;
    color: #fff;
  }
}

.dashboard .container {
  max-width: 100%;
  padding: 0.2rem 0.6rem;
}

.card-grp {
  display: flex;
  margin: 0.6rem 0;

  &:first-of-type,
  &:last-of-type {
    margin: 0.6rem 0;
  }

  .card {
    border-radius: 0;
    margin: 0;
    max-height: 100%;

    &:focus {
      z-index: 100;
    }

    &:hover {
      text-decoration: none !important;
    }

    &:first-child {
      border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }

    &:last-child {
      border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }

  .card-header {
    color: #ccc;
    font-weight: 200;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.8);
  }

  .repo-card .card-header {
    font-weight: 400;
  }
}

.card svg text {
  font-size: 2vw;
}

.card-grp.needinfos .card {
  background: #38383d !important;
}
